---
// 网站头部组件
// 显示博客标题和描述，居中展示
---

<header class="site-header">
  <div class="container">
    <h1 class="site-title">
      <a href="/">okmij-blog</a>
    </h1>
    <p class="site-description">记录学习、生活与思考</p>
  </div>
</header>
